nav ul
{
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
    background-color: rgb(123, 58, 152); /* Gray background color */
    padding: 8px;
    width: 1510px;
    margin: auto;
    /* justify-content: center; */
    margin-left: -8px;
    margin-top: 0px;
}

nav ul a {
    text-decoration: none;
    color: white;
    height: 30px; /* Adjust the height as needed */
    display: flex; /* Change display property to flex */
    justify-content: center;
    align-items: center;
    width: 100px;
    color: white;
}


nav ul a:hover
{
    background-color: rgb(182, 231, 179);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    
}